# Node dependencies
**/node_modules/
node_modules/

# Production build outputs
**/dist/
dist/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ZIP Archives & backups
*.zip
unbuilt v1 5.24.2026/

# System / IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
